{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {"modules": false, "loose": true}],
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-transform-imports",
        "babel-plugin-dynamic-import-node"
      ]
    },
  }
}
